<link rel="apple-touch-icon" sizes="180x180" href="https://www.dropbox.com/s/mj2cgo1m47c51ur/apple-touch-icon.png?raw=1">
<link rel="icon" type="image/png" sizes="32x32" href="https://www.dropbox.com/s/0ifr9nr8ctww96k/favicon-32x32.png?raw=1">
<link rel="icon" type="image/png" sizes="16x16" href="https://www.dropbox.com/s/i0xudnk4mdq4ut3/favicon-16x16.png?raw=1">
<link rel="manifest" href="https://www.dropbox.com/s/kf9aa8ru1tx147b/site.webmanifest?raw=1">
<link rel="mask-icon" href="https://www.dropbox.com/s/qmkjq8jsu3arzxq/safari-pinned-tab.svg?raw=1" color="#5bbad5">
<link rel="shortcut icon" href="https://www.dropbox.com/s/hld6y1k4ht3eymt/favicon.ico?raw=1">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="https://www.dropbox.com/s/gv34morkzyo6qug/browserconfig.xml?raw=1">
<meta name="theme-color" content="#ffffff">
